@import '../../../styles.css';

.link {
  @apply flex items-center justify-center font-ui text-2xl font-bold text-neutral-700 transition outline-none select-none;
  @apply hover:text-frosted-blue-300 focus:text-frosted-blue-300 active:text-frosted-blue-300;
}

.title {
  @apply flex items-center justify-center text-3xl font-bold text-frosted-blue-300;
}
