@import '../../styles.css';

.header--link {
  @apply font-ui text-2xl font-bold text-neutral-700 transition select-none hover:text-frosted-blue-300 active:text-frosted-blue-300;
}

.header--button {
  @apply flex items-center justify-center text-2xl text-neutral-700 transition hover:cursor-pointer active:text-frosted-blue-300;
}
