@import '../../styles.css';

.header__link {
  @apply font-ui text-2xl font-bold text-neutral-700 transition outline-none select-none;
  @apply hover:text-frosted-blue-300 focus:text-frosted-blue-300 active:text-frosted-blue-300;
}

.header__button {
  @apply flex items-center justify-center text-2xl text-neutral-700 transition outline-none;
  @apply hover:cursor-pointer focus:text-frosted-blue-300 active:text-frosted-blue-300;
}
