<header
  class="flex items-center justify-between bg-neutral-900 p-5 font-ui font-bold"
>
  <div class="flex flex-row items-center justify-center gap-4">
    <img
      src="favicon.svg"
      alt="Sckab Icon"
      class="h-13 rounded-full select-none md:h-15"
    />
    <span class="text-3xl text-frosted-blue-300 select-none md:text-5xl">
      SCKAB PORTFOLIO
    </span>
  </div>
  <div class="hidden flex-row gap-4 md:flex">
    <a
      pfLink
      routerLink="/"
    >
      STACK
    </a>
    <a
      pfLink
      routerLink="/"
    >
      PROJECTS
    </a>
  </div>
  <div class="relative flex md:hidden">
    <button
      type="button"
      class="flex items-center justify-center text-3xl text-stone-700 transition active:text-frosted-blue-300"
      (click)="toggleDropdown()"
    >
      <span class="icon-[solar--hamburger-menu-linear]"></span>
    </button>
    <div
      class="absolute top-15 right-0 hidden flex-col rounded-b-lg bg-neutral-900 p-2 px-4"
      id="dropdown"
    >
      <a
        pfLink
        routerLink="/"
      >
        STACK
      </a>
      <a
        pfLink
        routerLink="/"
      >
        PROJECTS
      </a>
      <hr class="m-0 my-1 h-2 text-frosted-blue-300" />
      <a
        pfLink
        href="https://github.com/Sckab"
        target="_blank"
        rel="noopener noreferrer"
      >
        Github
      </a>
    </div>
  </div>
</header>
