<header
  class="flex items-center justify-between bg-neutral-900 p-5 font-ui font-bold"
>
  <div class="flex flex-row items-center justify-center gap-4">
    <img
      src="favicon.svg"
      alt="Sckab Icon"
      class="h-13 rounded-full select-none md:h-15"
    />
    <span class="text-3xl text-frosted-blue-300 select-none md:text-5xl">
      SCKAB PORTFOLIO
    </span>
  </div>
  <div class="hidden flex-row gap-7 md:flex">
    <div class="flex gap-4">
      <a
        pfLink
        routerLink="/"
      >
        STACK
      </a>
      <a
        pfLink
        routerLink="/"
      >
        PROJECTS
      </a>
    </div>
    <div class="relative hidden md:flex">
      <button
        type="button"
        class="flex items-center justify-center text-2xl text-neutral-700 transition select-none hover:cursor-pointer active:text-frosted-blue-300"
        (click)="toggleDropdown()"
      >
        CONTACTS
        <span
          class="icon-[solar--alt-arrow-right-linear] text-3xl transition"
          [class.rotate-90]="dropdownVisible()"
        ></span>
      </button>
      <div
        class="absolute top-15 right-0 flex-col rounded-b-lg bg-neutral-900 p-2 px-4"
        [class.hidden]="!dropdownVisible()"
        [class.flex]="dropdownVisible()"
      >
        <div class="flex w-full flex-row items-center justify-between gap-5">
          <a
            pfLink
            href="https://github.com/Sckab"
            target="_blank"
            rel="noopener noreferrer"
          >
            Github
          </a>

          <span class="icon-[cib--github] text-frosted-blue-300"></span>
        </div>

        <div class="flex w-full flex-row items-center justify-between gap-5">
          <a
            pfLink
            href="https://leetcode.com/u/Sckab"
            target="_blank"
            rel="noopener noreferrer"
          >
            LeetCode
          </a>

          <span class="icon-[cib--leetcode] text-frosted-blue-300"></span>
        </div>

        <div class="flex w-full flex-row items-center justify-between gap-5">
          <a
            pfLink
            href="https://discord.gg/RVX6RRqkt5"
            target="_blank"
            rel="noopener noreferrer"
          >
            Discord
          </a>

          <span class="icon-[cib--discord] text-frosted-blue-300"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="relative flex md:hidden">
    <button
      type="button"
      class="flex items-center justify-center text-3xl text-neutral-700 transition active:text-frosted-blue-300"
      (click)="toggleMobileDropdown()"
    >
      <span class="icon-[solar--hamburger-menu-linear]"></span>
    </button>
    <div
      class="absolute top-15 right-0 flex-col rounded-b-lg bg-neutral-900 p-2 px-4"
      [class.hidden]="!mobileDropdownVisible()"
      [class.flex]="mobileDropdownVisible()"
    >
      <a
        pfLink
        routerLink="/"
      >
        STACK
      </a>
      <a
        pfLink
        routerLink="/"
      >
        PROJECTS
      </a>
      <hr class="m-0 my-1 h-2 text-frosted-blue-300" />
      <a
        pfLink
        href="https://github.com/Sckab"
        target="_blank"
        rel="noopener noreferrer"
      >
        Github
      </a>
    </div>
  </div>
</header>
