@import '../header.css';

.contacts__row {
  @apply flex w-full flex-row items-center justify-between gap-5;
}

.contacts__row a {
  @apply font-ui font-bold text-neutral-700 transition select-none hover:text-frosted-blue-300 active:text-frosted-blue-300 md:text-xl;
}
