@import '../../styles.css';

section {
  @apply flex flex-col items-center justify-center xl:w-3/4;
}

.title {
  @apply text-7xl font-bold text-frosted-blue-300;
}

.projects {
  @apply flex w-full flex-col items-center justify-center gap-2 md:flex-row md:items-stretch md:justify-center xl:w-3/4;
}

pf-projects-card {
  @apply w-full md:w-1/3;
}
