@import 'tailwindcss';

@theme {
  --font-default: 'Inter', sans-serif;

  --color-primary: #76946a;
  --color-secondary: #181616;
  --color-tertiary: #2a2a2a;
  --color-foreground: #dfdfd6;

  --color-link-fg: #647d59;
}
