@import '../../styles.css';

a {
  @apply font-bold text-frosted-blue-300 outline-none;
  @apply hover:underline focus:underline;
}

section {
  @apply flex flex-col items-start justify-center xl:w-2/5;
}

.title {
  @apply text-7xl font-bold text-frosted-blue-300;
}

.stack__card__row {
  @apply flex w-full flex-col gap-2 rounded-lg bg-neutral-900 p-3;
}

.stack__card__title {
  @apply text-3xl font-bold text-frosted-blue-300;
}

.stack__card__icon__container {
  @apply flex flex-row gap-3;
}

.cta__link {
  @apply font-semibold text-frosted-blue-300;
  @apply rounded-md border p-1 px-2 outline-none;
  @apply flex items-center justify-center gap-1;
  @apply border-frosted-blue-300 bg-neutral-900;
  @apply transition hover:cursor-pointer hover:bg-frosted-blue-300 hover:text-neutral-900 hover:no-underline;
  @apply focus:bg-frosted-blue-300 focus:text-neutral-900 focus:no-underline;
}
